@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./styles/sidebar";

$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

body,
html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

h1{
    text-align: center;
    font-weight: bolder;
}

.home-section {
    position: relative;
    background: #e4e9f7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.flex-column {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(195, 244, 255);
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    height: 100%;
}

.form-group{
    position: relative;
    width: 90%;
    left: calc(5% - 10px);
    margin: 10px;

    label {
        position: relative;
        font-weight: bold;
        left: 2px;
    }
}