<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>        
        <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/analytics/analytics.css">
        <script type="importmap">{
            "imports" : {
                "mldsp-api" : "./mldsp-api/src/package.js",
                "plotly" : "./plotly/plotly.js"
            }
        }</script>
    </head>

    <body>
        <script type="module" src="/analytics/Analytics.mjs"></script>
        <%- include('../dashboard/partials/templates'); %>
        <%- include('./partials/home_section'); %>
    </body>
</html>