<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>    
    <link rel="stylesheet" href="/mldsp-web/mainboard/mainboard.css">
    <script type="importmap">
        <%- include(widget.lib_file) %>
    </script>
</head>
<body>
    <script type="module" src="/mldsp-web/mainboard/Mainboard.mjs"></script>
    <%- include(widget.template_file) %>
    <%- include('./body.ejs'); %>
</body>
</html>