<script type="module" src="/dashboard/partials/submit-pane/SubmitPane.mjs"></script>
<link rel="stylesheet" href="/dashboard/partials/submit-pane/submit-pane.css">

<div class="flex-column">
    <h1>Input Parameters</h1>

    <div class="form-group">
        <label for="analysisName">Analysis Run Name</label>
        <input value="default" name="analysisName" class="form-control" id="analysisName" minlength="1" required
            placeholder="Analysis Name" />
    </div>

    <div class="form-group">
        <label for="sel_clas">Select Classification</label>
        <select name="sel_clas" class="form-control" id="sel_clas">
            <option value="">N/A</option>
        </select>
    </div>

    <div class="form-group">
        <label for="num_repr">Numerical Representations</label>
        <select name="num_repr" class="form-control" id="num_repr"></select>
    </div>

    <div class="form-group">
        <label for="dist_meas">Distance Measure</label>
        <select name="dist_meas" class="form-control" id="dist_meas">
            <option value="">N/A</option>
        </select>
    </div>

    <div class="form-group">
        <label for="cgr_k_val">"K" value for CGR</label>
        <select name="cgr_k_val" class="form-control" id="cgr_k_val"></select>
    </div>
</div>