<div class="sidebar">
    <div class="logo-details">
        <div class="home-content">
            <i class="bx bx-shape-polygon"></i>
        </div>
        <a href="/index"><span class="logo_name">MLDSP</span></a>
    </div>

    <ul class="nav-links">
        <li>
            <a href="#">
                <i class="bx bxs-dashboard"></i>
                <a class="link_name" href="/dashboard">Dashboard</a>
            </a>
        </li>
        <li>
            <a href="{{ url_for('analytics') }}">
                <i class="bx bx-bar-chart"></i>
                <a class="link_name" href="#">Analytics</a>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bxl-product-hunt"></i>
                <a class="link_name" href="#">Projects</a>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <a class="link_name" href="#">Setting</a>
            </a>
        </li>
    </ul>
</div>
