<meta charset="UTF-8" />
<title>Dashboard</title>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="styles/main.css" />
<link rel="stylesheet" type="text/css" href="styles/boxicons.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
