<div class="sidebar">
    <div class="logo-details">
        <div class="home-content">
            <i class="bx bx-shape-polygon"></i>
        </div>
        <a href="/index"><span class="logo_name">MLDSP</span></a>
    </div>

    <ul class="nav-links">
        <li>
            <a href="#">
                <i class="bx bxs-dashboard"></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/dashboard">Dashboard</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ url_for('analytics') }}">
                <i class="bx bx-bar-chart"></i>
                <span class="link_name">Analytics</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Analytics</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="bx bxl-product-hunt"></i>
                <span class="link_name">Projects</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Projects</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Setting</a></li>
            </ul>
        </li>
    </ul>
</div>
