<template id="selected-dataset-template">
    <li class="list-group-item" data-name="" id="">
        <span class="dataset-name"></span>
        <span class="dataset-desc"></span>
        <span class="pull-right">
            <span class="btn btn-xs btn-danger remove" role="button">Delete</span>
        </span>
    </li>
</template>

<template id="result-item-template">
    <li class="list-group-item" data-uid="">
        <span class="resultname"></span>
        <span class="pull-right">
            <span class="btn btn-xs btn-success select">View</span>
            <span class="btn btn-xs btn-danger remove">Delete</span>
        </span>
    </li>
</template>

<template id="cmatrix-template">
    <div id="cMatrix-" class="cMatrix">
        <div style="display: inline-block; float: left" id="container-"></div>
        <div style="display: inline-block; float: left" id="legend-"></div>        
    </div>
</template>
