<template id="dataset-pane-template">
    <link rel="stylesheet" href="/mldsp-web/dataset-pane/dataset-pane.css">

    <div class="flex-column">
        <h1>Datasets</h1>
    
        <form id="upload-form" class="phantom" method="post" action="/upload_dataset" enctype="multipart/form-data">
            <input id="upload-dialog" type="file">
            <input id="submit-upload" type="submit">
        </form>
    
        <select id="dataset-list"></select>
        <button id="start-button" class="custom-button green">Process Selected Dataset</button>
        <button id="upload-button" class="custom-button orange">Upload Dataset</button>
        <button id="remove-button" class="custom-button red" disabled>Remove Dataset</button>
        <button id="just-upload-button" class="custom-button green">JUST UPLOAD (job 0)</button>
    </div>    
</template>
