<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/mldsp-web/index/index.css">
    <script type="importmap">
        <%- include(widget.lib_file) %>
    </script>
    <%- include('./head.ejs'); %>
</head>
<body>
    <script type="module" src="/mldsp-web/index/Index.mjs"></script>
    <%- include(widget.template_file) %>
    <%- include('./body.ejs'); %>
</body>
</html>

