<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/index/index.css">
    <script type="importmap">
        {}        
    </script>
    <%- include('./head.ejs'); %>
</head>
<body>
    <script type="module" src="/index/Index.mjs"></script>    
    <%- include('./body.ejs'); %>
</body>
</html>

