<div class="top-level-container">
    <div class="flex-item">
        <div id="mdsgraph" class="mdsgraph"></div>    
    </div>
    <div class="flex-item">   
        <img id="cgr-graph" class="centerx"/>     
    </div>
    <div class="flex-item">
        <div id="conf-matrix-container" class="conf-matrix-container centerx">
            <div class="matrixsel">
                <select id="cmatrix-select"></select>
            </div>      
        </div>                
    </div>
    <div class="flex-item">     
        <table id="intercluster-table" class="intercluster-table">
            <thead>
                <tr class="header-row">
                  <th>Intercluster Distances</th>
                </tr>
                <tbody>                    
                </tbody>
            </thead>
          </table>           
    </div>
    <div class="flex-item">    
        <table id="accuracy-table" class="intercluster-table">
            <thead>
                <tr class="header-row">
                </tr>
                <tbody>                    
                </tbody>
            </thead>
          </table>
        </table>
    </div>
</div>