<template id="cmatrix-template">
    <div id="cMatrix-" class="cMatrix">
        <div style="display: inline-block; float: left" id="container-"></div>
        <div style="display: inline-block; float: left" id="legend-"></div>        
    </div>
</template>
