<template id="job-pane-template">
    <link rel="stylesheet" href="/mldsp-web/job-pane/job-pane.css">
    <div>
        <h1>Jobs</h1>
        <ul class="list-group" id="jobs-container"></ul>
    </div>
</template>
