.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;

    a {
        text-decoration: none;
    }

    .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;

        i {
            font-size: 30px;
            color: #fff;
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
        }

        .logo_name {
            font-size: 22px;
            color: #fff;
            font-weight: 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }
    }

    .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;

        li {
            position: relative;
            list-style: none;
            transition: all 0.4s ease;

            &:hover {
                background: #1d1b31;
            }

            i {
                height: 50px;
                min-width: 78px;
                text-align: center;
                line-height: 50px;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            .link_name {
                display: inline-block;
                align-items: center;
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                transition: all 0.4s ease;
            }
        }
    }
}