<div id="left">
    <form action="/create_job" method="post">
        <b>Create Job</b><br>
        <span>userid</span>
        <input type="text" name="userid" value="unset"><br>
        <input type="submit"><br>
    </form>

    <form action="/delete_job" method="post">
        <b>Delete Job</b><br>
        <span>jobid</span>
        <input type="number" name="jobid" value="0"><br>
        <input type="submit"><br>
    </form>

    <form action="/upload_data" method="post" enctype="multipart/form-data">
        <b>Upload Data</b><br>
        <span>jobid</span>
        <input type="number" name="jobid" value="0"><br>
        <input id="upload-dialog" type="file" id="myfile" name="fileupload">
        <input type="submit"><br>
    </form>

    <form action="/start_job" method="post">
        <b>Start Job</b><br>
        <span>jobid</span>
        <input type="number" name="jobid" value="0"><br>
        <input type="submit"><br>
    </form>

    <form action="/set_value" method="post">
        <b>Set Value</b><br>
        <span>jobid</span>
        <input type="number" name="jobid" value="0"><br>
        <input type="text" name="key" value="key"><br>
        <input type="text" name="value" value="value"><br>
        <input type="submit"><br>
    </form>
</div>

<div id="right">
    <form action="/retrieve_results" method="post">
        <b>Retrieve Results</b><br>
        <span>jobid</span>
        <input type="number" name="jobid" value="0"><br>
        <input type="submit"><br>
    </form>

    <form action="/get_job_record" method="post">
        <b>Get Job Record</b><br>
        <span>jobid</span>
        <input type="number" name="jobid" value="0"><br>
        <input type="submit"><br>
    </form>

    <form action="/list_jobs" method="post">
        <b>List Jobs</b><br>
        <span>userid</span>
        <input type="text" name="userid" value="unset"><br>
        <input type="submit"><br>
    </form>

    <form action="/all_jobs" method="post">
        <b>All Jobs</b><br>
        <input type="submit"><br>
    </form>

    <form action="/coverage/index.html" method="get">
        <b>View coverage reports</b><br>
        <input type="submit"><br>
    </form>
</div>